{
  "openapi": "3.0.1",
  "info": {
    "title": "Indexserver",
    "version": "20.0.0.111"
  },
  "servers": [
    {
      "url": "http://eloServer.com:6056/ix-Archive/rest",
      "description": "Nav20"
    }
  ],
  "paths": {
    "/BUtility/upload": {
      "summary": "Upload file.",
      "post": {
        "tags": [
          "BUtility"
        ],
        "operationId": "BUtility_upload",
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_BUtility_upload"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/ClientNotification/adminMode": {
      "summary": "Administration mode was changed.",
      "description": "Interface de.elo.ix.client.notify.ClientNotification, method adminMode",
      "post": {
        "tags": [
          "ClientNotification"
        ],
        "operationId": "ClientNotification_adminMode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_ClientNotification_adminMode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/ClientNotification/updateTask": {
      "summary": "Reserved.",
      "description": "Interface de.elo.ix.client.notify.ClientNotification, method updateTask",
      "post": {
        "tags": [
          "ClientNotification"
        ],
        "operationId": "ClientNotification_updateTask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_ClientNotification_updateTask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/DocumentEvents/beginDownload": {
      "summary": "Provide a document processor object for a stream being downloaded.",
      "description": "Return null, if this stream should not be\n processed.",
      "post": {
        "tags": [
          "DocumentEvents"
        ],
        "operationId": "DocumentEvents_beginDownload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_DocumentEvents_beginDownload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_770771503"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/DocumentEvents/beginUpload": {
      "summary": "Provide a document processor object for a stream being uploaded.",
      "description": "Return null, if this stream should not be\n processed. If {@link UpDownloadEventInfo#preliminaryTest} is true, the returned document processor is only checked\n to be not null. It is not called to process a stream.",
      "post": {
        "tags": [
          "DocumentEvents"
        ],
        "operationId": "DocumentEvents_beginUpload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_DocumentEvents_beginUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_770771503"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/DocumentProcessor/process": {
      "summary": "Process the given stream.",
      "description": "Interface de.elo.ix.client.devents.DocumentProcessor, method process",
      "post": {
        "tags": [
          "DocumentProcessor"
        ],
        "operationId": "DocumentProcessor_process",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_DocumentProcessor_process"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_190251704"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedNotification/updateAction": {
      "summary": "Called when an action is created or updated.",
      "description": "Interface de.elo.ix.client.feed.FeedNotification, method updateAction",
      "post": {
        "tags": [
          "FeedNotification"
        ],
        "operationId": "FeedNotification_updateAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedNotification_updateAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/checkinAction": {
      "summary": "Create or update a document feed entry.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method checkinAction",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_checkinAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_checkinAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_10"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/checkoutAction": {
      "summary": "Read a document feed entry.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method checkoutAction",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_checkoutAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_checkoutAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_736351635"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/checkoutHashTag": {
      "summary": "Read a HashTag Object from Database",
      "description": "Interface de.elo.ix.client.feed.FeedService, method checkoutHashTag",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_checkoutHashTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_checkoutHashTag"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1143177929"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/createAction": {
      "summary": "Initialize a document feed item object. This function does not store the created action in the database.",
      "description": "Use\n {@link #checkinAction(ClientInfo, Action, ActionZ)} to make an Action object persistent. The returned object allows\n read access for everyone.",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_createAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_createAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_736351635"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/createHashTagSubscription": {
      "summary": "Creates a HashTag Subscription",
      "description": "Interface de.elo.ix.client.feed.FeedService, method createHashTagSubscription",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_createHashTagSubscription",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_createHashTagSubscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_323351719"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findFirstActions": {
      "summary": "Find actions of document feeds.",
      "description": "\u003cp\u003e\n In order to receive all actions for a document feed, call this function with {@link FindActionsInfo#objId} set to a\n Sord ID, GUID, etc. The results are returned in {@link FindResult#getActions()}. The Feed object associated to the\n Sord is returned in {@link FindResult#getFeeds()}.\n \u003c/p\u003e\n \u003cp\u003e\n Call IXServicePortIF.findClose to release internal resources when finished.\n \u003c/p\u003e",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findFirstActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findFirstActions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findFirstHashTagRelation": {
      "description": "Interface de.elo.ix.client.feed.FeedService, method findFirstHashTagRelation",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findFirstHashTagRelation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findFirstHashTagRelation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findFirstNotification": {
      "description": "Interface de.elo.ix.client.feed.FeedService, method findFirstNotification",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findFirstNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findFirstNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findHashTagByActions": {
      "summary": "Returns all HashTags which occurs in a given Array of Actions",
      "description": "Interface de.elo.ix.client.feed.FeedService, method findHashTagByActions",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findHashTagByActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findHashTagByActions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1535847981"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findHashTags": {
      "summary": "Returns all HashTags.",
      "description": "FindHashTagInfo filter the result by, createDateIso, lastUsedIso and minCount",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findHashTags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findHashTags"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1556767716"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findNextActions": {
      "summary": "Continue reading results from a search started with findFirstActions.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method findNextActions",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findNextActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findNextActions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findNextHashTagRelation": {
      "description": "Interface de.elo.ix.client.feed.FeedService, method findNextHashTagRelation",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findNextHashTagRelation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findNextHashTagRelation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findNextNotification": {
      "description": "Interface de.elo.ix.client.feed.FeedService, method findNextNotification",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findNextNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findNextNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1301335819"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/findPostActions": {
      "summary": "Returns a Feedpost with all comments.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method findPostActions",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_findPostActions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_findPostActions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_2013723887"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/internalInsertSystemAction": {
      "summary": "Reserved.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method internalInsertSystemAction",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_internalInsertSystemAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_internalInsertSystemAction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_736351635"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/registerNotify": {
      "summary": "Register a callback interface. The server calls functions of this interface if the document feed is modified.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method registerNotify",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_registerNotify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_registerNotify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FeedService/unregisterNotify": {
      "summary": "Unregister a callback interface. Remove callback interface from internal list.",
      "description": "Interface de.elo.ix.client.feed.FeedService, method unregisterNotify",
      "post": {
        "tags": [
          "FeedService"
        ],
        "operationId": "FeedService_unregisterNotify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FeedService_unregisterNotify"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FioService/finishExport": {
      "summary": "Reserved.",
      "description": "Interface de.elo.ix.client.fio.FioService, method finishExport",
      "post": {
        "tags": [
          "FioService"
        ],
        "operationId": "FioService_finishExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FioService_finishExport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1700162512"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FioService/startExport": {
      "summary": "Reserved.",
      "description": "Interface de.elo.ix.client.fio.FioService, method startExport",
      "post": {
        "tags": [
          "FioService"
        ],
        "operationId": "FioService_startExport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FioService_startExport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1700162512"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/FioService/startImport": {
      "summary": "Reserved.",
      "description": "Interface de.elo.ix.client.fio.FioService, method startImport",
      "post": {
        "tags": [
          "FioService"
        ],
        "operationId": "FioService_startImport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_FioService_startImport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1700162512"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/computeDoubleValue": {
      "summary": "Compute value. This function computes a new value using the specified operation.",
      "description": "Example: \u003ccode\u003e\u003cpre\u003e\n IXConnection conn \u003d ...\n conn.getHealthCheckService().computeDoubleValue(\"valuename\", 1.2, HealthCheckValueOperation.ADD); \n \u003c/pre\u003e\u003c/code\u003e",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_computeDoubleValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_computeDoubleValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/read": {
      "summary": "Read given health check values.",
      "description": "Interface de.elo.ix.client.health.HealthCheckService, method read",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_read",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_read"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_333475674"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/update": {
      "summary": "Update one value.",
      "description": "Example: \u003ccode\u003e\u003cpre\u003e\n IXConnection conn \u003d ...\n HealthCheckInfo hci \u003d new HealthCheckInfo();\n hci.setName(\"valuename\");\n hci.setStringValue(\"string1\");\n conn.getHealthCheckService().update(hci); \n \u003c/pre\u003e\u003c/code\u003e",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/updateAll": {
      "summary": "Update given values.",
      "description": "Interface de.elo.ix.client.health.HealthCheckService, method updateAll",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_updateAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_updateAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/updateDoubleValue": {
      "summary": "Update one value. This function overwrites an existing value.",
      "description": "Example: \u003ccode\u003e\u003cpre\u003e\n IXConnection conn \u003d ...\n conn.getHealthCheckService().updateDoubleValue(\"valuename\", 1.2); \n \u003c/pre\u003e\u003c/code\u003e",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_updateDoubleValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_updateDoubleValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/updateMeanValue": {
      "summary": "Update arithmetic mean. This function adds the given mean value to the already existing value in the database.",
      "description": "The\n new value is computed as: (db-meanValue * db-sampleSize + meanValue * sampleSize) / (db-sampleSize + sampleSize).\n Example: \u003ccode\u003e\u003cpre\u003e\n IXConnection conn \u003d ...\n double value \u003d (1.1 + 1.2 + 1.3) / 3;\n conn.getHealthCheckService().updateMeanValue(\"valuename\", 1.2, 3); \n \u003c/pre\u003e\u003c/code\u003e",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_updateMeanValue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_updateMeanValue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/HealthCheckService/uploadAll": {
      "summary": "Force uploading health check data to web service. This function should only be used in test scenarios.",
      "description": "Indexserver\n automatically uploads health check data one time per month.",
      "post": {
        "tags": [
          "HealthCheckService"
        ],
        "operationId": "HealthCheckService_uploadAll",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_HealthCheckService_uploadAll"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_21"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXEventBusHandler/processEventBusEvents": {
      "description": "Interface de.elo.ix.client.IXEventBusHandler, method processEventBusEvents",
      "post": {
        "tags": [
          "IXEventBusHandler"
        ],
        "operationId": "IXEventBusHandler_processEventBusEvents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXEventBusHandler_processEventBusEvents"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/executeRegisteredFunction": {
      "summary": "This event is raised when the IXServicePortIF function executeRegisteredFunction is called.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method executeRegisteredFunction",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_executeRegisteredFunction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_executeRegisteredFunction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1191976387"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/executeRegisteredFunctionString": {
      "summary": "This event is raised when the IXServicePortIF function executeRegisteredFunctionString is called.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method executeRegisteredFunctionString",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_executeRegisteredFunctionString",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_executeRegisteredFunctionString"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_10"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/getAppInfo": {
      "summary": "This mandatory method returns information about the application that implements the interface.",
      "description": "It should return the\n application name and version and the implementors name. The returned String is printed into the log file and is\n added to error messages. This method is mandatory.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_getAppInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_getAppInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_10"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/getUserNames": {
      "summary": "Get lean user and group information.",
      "description": "This method is called to internally process the API function\n {@link IXServicePortIF#getUserNames(ClientInfo, String[], CheckoutUsersZ)}. This method should call\n {@link IXServicePortIF#getUserNames(ClientInfo, String[], CheckoutUsersZ)} internally and should only modify\n {@link UserName#flags2} or {@link UserName#flags2} in the returned array. E.g. {@link UserName#flags2} can be\n changed in order to hide particular users by removing the bit {@link AccessC#FLAG2_VISIBLE_USER}.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_getUserNames",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_getUserNames"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1001617329"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/hasMethod": {
      "summary": "This mandatory method tests, wether an interace method is implemented.",
      "description": "The Indexserver calls this function for each\n method, before the method is called the first time.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_hasMethod",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_hasMethod"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinActivity": {
      "summary": "This event is raised asynchronously after an activity is written.",
      "description": "The event is invoked too, if the activity was\n deleted. An activity is called deleted, if member activity.backAt is not empty.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinActivity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinDocEnd": {
      "summary": "This asynchronous event is raised after a document or a document version has been checked in.",
      "description": "It is raised in\n checkinDocEnd, checkinDocsEnd, startImport.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinDocEnd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinDocEnd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinMap": {
      "summary": "This event is called after {@link IXServicePortIF#checkinMap(ClientInfo, String, String, int, KeyValue[], LockZ)}",
      "description": "has processed.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinMap"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinNotes": {
      "summary": "This asynchronous event is raised after a Note object has been written.",
      "description": "It is raised in",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinNotes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinReminder": {
      "summary": "This asynchronous event is raised after checkinReminder was called.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onAfterCheckinReminder",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinReminder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinReminder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinSord": {
      "summary": "This asynchronous event is raised after a Sord object has been written.",
      "description": "It is raised in checkinSord, checkinDocEnd,\n checkinDocsEnd, checkinSordPath, startImport.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterCheckinUsers": {
      "summary": "This event is called after {@link IXServicePortIF#checkinUsers(ClientInfo, UserInfo[], CheckinUsersZ, LockZ)} has",
      "description": "processed the supplied UserInfo objects. Indexserver invokes this event asynchronously after the users have been\n written.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterCheckinUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterCheckinUsers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterDelegateWorkflowNode": {
      "summary": "This event is invoked after a workflow node has been delegated.",
      "description": "The implementor can use this function to notify\n other systems about the delegation. It is executed asynchronously after the API call delegateWorkflowNode has been\n successfully executed. Modifications to parameters or thrown exceptions are ignored.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterDelegateWorkflowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterDelegateWorkflowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterDeleteMap": {
      "summary": "This event is called after {@link IXServicePortIF#deleteMap(ClientInfo, String, String, String[], LockZ)} has",
      "description": "processed.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterDeleteMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterDeleteMap"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterDeleteSord": {
      "summary": "This asynchronous event is raised after a Sord is deleted. It is raised in deleteSord, cleanupStart.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onAfterDeleteSord",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterDeleteSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterDeleteSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterEndEditWorkFlowNode": {
      "summary": "This asynchronous event is raised after a workflow node is forwarded by endEditWorkFlowNode.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onAfterEndEditWorkFlowNode",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterEndEditWorkFlowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterEndEditWorkFlowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterLogin": {
      "summary": "This method is called asynchronously after a user has been successfully authenticated.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onAfterLogin",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterRefSord": {
      "summary": "This asynchronous event is raised after a Sord is moved or a reference is created.",
      "description": "It is raised in refSord,\n copySord.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterRefSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterRefSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onAfterStartWorkFlow": {
      "summary": "This asynchronous event is raised after a workflow is started.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onAfterStartWorkFlow",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onAfterStartWorkFlow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onAfterStartWorkFlow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinActivity": {
      "summary": "This event is raised before an activity is written. The event is invoked too, if the activity is to be deleted.",
      "description": "An\n activity is called deleted, if member activity.backAt is not empty.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinActivity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinDocEnd": {
      "summary": "This synchronous event is raised before a document or a document version is checked in.",
      "description": "It is raised in\n checkinDocEnd, checkinDocsEnd, startImport.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinDocEnd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinDocEnd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinMap": {
      "summary": "This event is called before {@link IXServicePortIF#checkinMap(ClientInfo, String, String, int, KeyValue[], LockZ)}",
      "description": "is executed.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinMap"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1826370901"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinNotes": {
      "summary": "This synchronous event is raised before a Note object is written.",
      "description": "It is raised in checkinNotes",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinNotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinNotes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinSord": {
      "summary": "This synchronous event is raised before a Sord object is written.",
      "description": "It is raised in checkinSord, checkinDocEnd,\n checkinDocsEnd, startImport.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeCheckinUsers": {
      "summary": "This event is invoked before {@link IXServicePortIF#checkinUsers(ClientInfo, UserInfo[], CheckinUsersZ, LockZ)}",
      "description": "processes the supplied UserInfo objects.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeCheckinUsers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeCheckinUsers"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1132956238"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeDelegateWorkflowNode": {
      "summary": "This event is invoked before a workflow node is delegated.",
      "description": "The implementor can use this function to perform\n additional checks on delegation before Indexserver performs its plausibility and access checks. Furthermore, it can\n be used to modify the members of the passed delegateNodeInfo obect. To deny delegation, throw an exception like:\n \n \u003cpre\u003e\n \u003ccode\u003e\n throw [ IXExceptionC.ACCESS_DENIED, \"Delegate workflow denied.\" ];\n \u003c/code\u003e\n \u003c/pre\u003e\n \n This event function is executed synchronously to the API call delegateWorkflowNode.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeDelegateWorkflowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeDelegateWorkflowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeDeleteMap": {
      "summary": "This event is called before {@link IXServicePortIF#deleteMap(ClientInfo, String, String, String[], LockZ)} is",
      "description": "executed.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeDeleteMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeDeleteMap"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1888107655"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeDeleteSord": {
      "summary": "This synchronous event is raised before a Sord is deleted. It is raised in deleteSord, cleanupStart.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onBeforeDeleteSord",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeDeleteSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeDeleteSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeFindSords": {
      "summary": "This event is fired before the FindInfo object passed in findFirstSords is evaluated.",
      "description": "The passed findInfo object\n can be modified.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeFindSords",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeFindSords"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeFindSordsInternalSQL": {
      "summary": "This event is fired before findFirstSords executes the search statement.",
      "description": "Be aware of the fact that there is no\n guaranty about the generated FindSql data. Subsequent IX versions can create different FindSql objects for the same\n FindInfo object. Hence, modifications of the FindSql data might not work in future releases. Prefer to use\n {@link IXServerEvents#onBeforeFindSords(IXServerEventsContext, FindInfo, SordZ)} wherever possible.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeFindSordsInternalSQL",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeFindSordsInternalSQL"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeLogin": {
      "summary": "Before a user is authenticated the IX calls this method. Use it to allow or deny the the login to the user.",
      "description": "If the\n user is not allowed to login according to the {@link LoginScriptOptions} opts, an exception has to be thrown.\n \u003cp\u003e\n Example code: \u003ccode\u003e\u003cpre\u003e\n function onBeforeLogin(ec, user, opts) {\n   if (username \u003d\u003d \"OnlyWithWebClient\" \u0026amp;\u0026amp; options.getClientName() !\u003d LoginScriptOptionsC.CLIENT_NAME_WEBCLIENT) {\n     throw \"User may login only with the WebClient\";\n   }\n }\n \u003c/pre\u003e\u003c/code\u003e\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeLogin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeRefSord": {
      "summary": "This synchronous event is raised before a Sord is moved or a reference is created.",
      "description": "It is raised in refSord,\n copySord.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeRefSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeRefSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeStartWorkFlow": {
      "summary": "This synchronous event is raised before a workflow is started.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onBeforeStartWorkFlow",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeStartWorkFlow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeStartWorkFlow"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onBeforeTakeWorkFlowNode": {
      "summary": "This event is fired before {@link IXServicePortIF#takeWorkFlowNode(ClientInfo, int, int, String, int, LockZ)} is",
      "description": "processed.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onBeforeTakeWorkFlowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onBeforeTakeWorkFlowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onCheckSordAccess": {
      "summary": "Check access to Sord object. Use this method to replace the internal access checking of the ACL for Sord objects.",
      "description": "In order to deny access to the given sord, return false, otherwise return true.\n \u003cp\u003e\n This method should not be implemented by services for performance reasons. It is frequently called and should\n perform as fast as possible.\n \u003c/p\u003e\n \u003cp\u003e\n The Indexserver\u0027s access check function can be called via class de.elo.ix.jscript.Access. Example code: \u003ccode\u003e\u003cpre\u003e\n function onCheckSordAccess(ec, sord, sordZ, lur, opts) {\n   var acc \u003d new Packages.de.elo.ix.jscript.Access();\n   var succ \u003d acc.checkAccess(sord, lur);\n   return succ;\n } \n \u003c/pre\u003e\u003c/code\u003e\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onCheckSordAccess",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onCheckSordAccess"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onCreateDoc": {
      "summary": "This event is triggered in createDoc.",
      "description": "If an onCreateDoc event is configured, the event onCreateSord is not\n triggered in onCreateSord.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onCreateDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onCreateDoc"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_820228328"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onCreateSord": {
      "summary": "This event is triggered in createSord, checkinSordPath and optionally in createDoc.",
      "description": "Use this event in order to\n customize the initialization of an EditInfo resp. Sord object. The script can call the\n {@link IXServicePortIF#createSord(ClientInfo, String, String, EditInfoZ)} function in order to get a new EditInfo\n object. The script can return null, if the standard initialization should be used. Before the EditInfo object\n created by this function is returned to the client application, the following mebers are overwritten:\n EditInfo.sord.id\u003d-1, EditInfo.sord.guid\u003d\u003crandom GUID\u003e. All members in EditInfo that are not assigned by this\n function but requested from the element selector editZ, are assigned (as far as possible) before the EditInfo\n object is returned to the client. Hint: Although this function is named createSord, it has to return an EditInfo\n object. This event is not triggered, if there is an onCreateDoc event customized.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onCreateSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onCreateSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_820228328"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onFileUploadBuildResponse": {
      "summary": "This event is raised after files has been uploaded by the JSON API to build the response message.",
      "description": "The response\n message depends on the file upload solution used by the client side JavaScript. This event can only be implemented\n as a JavaScript function. It is not possible to process it in a WEB-service like other events in this interface.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onFileUploadBuildResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onFileUploadBuildResponse"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onFindClose": {
      "summary": "This event is called when a search via findFirstSords/findNextSords is closed.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onFindClose",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onFindClose",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onFindClose"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onFindSordsResult": {
      "summary": "This event is called for find results found by findFirstSords and findNextSords.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onFindSordsResult",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onFindSordsResult",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onFindSordsResult"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onInheritKeywording": {
      "summary": "This event is called when index values are inherited.",
      "description": "\u003cp\u003e\n Example:\n \n \u003cpre\u003e\n \u003ccode class\u003d\"example\"\u003e\n function onInheritKeywording(ec, sord, parent, okeyNames, reserved) {\n   for (var i \u003d 0; i \u0026lt; okeyNames.length; i++) {\n     var key \u003d okeyNames[i];\n     var value \u003d getObjKey(parent, key);\n     log.info(\"inherit \" + key + \", value\u003d\" + value);\n     setObjKey(sord, key, value);\n   }\n   return InheritKeywordingResult.INHERITED;\n }\n \u003c/code\u003e\n \u003c/pre\u003e\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onInheritKeywording",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onInheritKeywording"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_892356058"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onReadSord": {
      "summary": "Modify the Sord information returned in checkoutSord, checkoutDoc, findFirstSords, etc.",
      "description": "This function is called,\n before a Sord object is returned to the client application. It can be used to modify or delete some of the\n transmitted data. But it must not change the members sord.id and sord.guid. Furthermore it cannot prevent the Sord\n object from being transmitted. This method cannot be implemented by services because of the output parameters. This\n method is frequently called and should perform as fast as possible.",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onReadSord",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onReadSord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onSendFeedToISearch": {
      "summary": "Every time feed documents are send to the iSearch to add it to the iSearch index, this event is called.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onSendFeedToISearch",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onSendFeedToISearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onSendFeedToISearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServerEvents/onSendSordToISearch": {
      "summary": "Every time a Sord is send to the iSearch to add it to the iSearch index, this event is called.",
      "description": "Interface de.elo.ix.client.IXServerEvents, method onSendSordToISearch",
      "post": {
        "tags": [
          "IXServerEvents"
        ],
        "operationId": "IXServerEvents_onSendSordToISearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServerEvents_onSendSordToISearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/activateSubstitution": {
      "summary": "Activate the submitted substitution.",
      "description": "\u003cp\u003e\n Activates a submitted substitution if it the substitution can be activated manually (Substitution\u0027s\n {@link SubstitutionSettings#canBeActivatedManually} must be set to \u003ccode\u003etrue\u003c/code\u003e) and it is outside of any\n substitution period (defined in {@link Substitution#substitutionPeriods}\n \u003c/p\u003e\n \n \u003cp\u003e\n A substitution can be activated by the current user, if:\n \u003cul\u003e\n \u003cli\u003eThe current user is the substitute ({@link Substitution#substituteId}\n \u003cli\u003eThe current user is member of the group who is the substitute\n \u003cli\u003eThe current user is sub administrator of the substitute\n \u003cli\u003eThe current user is the direct superior of the substitute (ignoring groups, {@link UserInfo#superiorId} of the\n substitute must be the current user)\n \u003cli\u003eThe current user has main administrator rights.\n \u003c/ul\u003e",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_activateSubstitution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_activateSubstitution"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/addUrlParams": {
      "summary": "Adds additional params to an upload or download URL.",
      "description": "\u003cp\u003e\n Currently, additional params are only available for download URLs.\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_addUrlParams",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_addUrlParams"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_10"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/adminMode": {
      "summary": "Queries, enters or leaves the administration mode.",
      "description": "\u003cp\u003e\n In administration mode, only main administrators can logon to the archive.\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_adminMode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_adminMode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_5"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/alive": {
      "summary": "Extends the ticket lifetime.",
      "description": "Interface de.elo.ix.client.IXServicePortIF, method alive",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_alive",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_alive"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_19"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/applyForNotifications": {
      "summary": "Specify, which notifications should be sent by the server.",
      "description": "Interface de.elo.ix.client.IXServicePortIF, method applyForNotifications",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_applyForNotifications",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_applyForNotifications"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_77743605"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/beginEditWorkFlowNode": {
      "summary": "Locks a person task node of an active workflow inside the database and returns data needed to edit it.",
      "description": "If lockZ is\n not set to \u003ccode\u003eLockC.NO\u003c/code\u003e, \u003ccode\u003eWFNode.inUseDate\u003c/code\u003e will be set to now.",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_beginEditWorkFlowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_beginEditWorkFlowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1822579866"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/beginForwardWorkflowNode": {
      "summary": "Prepare forwarding of a workflow node.",
      "description": "Use this function to lock a workflow and get the data required for\n forwarding a node.",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_beginForwardWorkflowNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_beginForwardWorkflowNode"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_1822579866"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/changeSordMask": {
      "summary": "Changes the storage mask of a archive entry.",
      "description": "\u003cp\u003e\n The function does not update the object in the database. The method \u003ccode\u003echeckinSord\u003c/code\u003e must be used to write\n the changes into the database.\n \u003c/p\u003e\n \u003cp\u003e\n For new Sord objects (Sord.id \u0026lt; 0), ACL items are replaced by the definitions of the mask. Existing objects keep\n the previous ACL setting.\n \u003c/p\u003e\n \u003cp\u003e\n ObjKeys with IDs \u0026lt; ID_LINK (\u003d50) are converted into the format of the new associated DocMaskLine. ObjKeys with\n IDs \u0026gt;\u003d ID_LINK are not changed.\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_changeSordMask",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_changeSordMask"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_820228328"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/checkLicense": {
      "summary": "Check licensing information. This function checks the given license information using proprietary algorithms.",
      "description": "Interface de.elo.ix.client.IXServicePortIF, method checkLicense",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_checkLicense",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BRequest_IXServicePortIF_checkLicense"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BResult_545905411"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [],
            "basic": [],
            "bearer": []
          }
        ]
      }
    },
    "/IXServicePortIF/checkinActivity": {
      "summary": "This function inserts or updates an activity.",
      "description": "\u003cp\u003e\n The current session must have read access to the given Sord. In order to update an existing activity, the current\n session must be sender or receiver of the activity (Acitivty.senderId, Activity.receiverId).\n \u003c/p\u003e",
      "post": {
        "tags": [
          "IXServicePortIF"
        ],
        "operationId": "IXServicePortIF_checkinActivity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
