[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pika = "*"
elo-indexserver-client = "*"
python-decouple = "*"

[dev-packages]
pika-stubs = "*"

[requires]
python_version = "3.12"
