[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
elo-indexserver-client = "*"
jupyterlab = "*"
notebook = "*"
pip = "*"
install = "*"
python-decouple = "*"
reportlab = "*"
pandarallel = "*"
ipywidgets = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
